/* Body */
#table{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 2em auto;
	width: 1500px;
	max-width: 90%;
	text-align: center;
}
.table-column-large{
	flex-grow: 1;
}
.table-column-small{
	flex: 0 0 200px;
}
.table-column-head{
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}
.table-column div{
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
	background: #f7f7f7;
}
/* Body */