RewriteEngine On
RewriteBase /school/staff/

RewriteRule ^profiles/([a-zA-Z0-9]+)$ profiles/index.php?uid=$1
RewriteRule ^profiles/([a-zA-Z0-9]+)/$ profiles/index.php?uid=$1

RewriteRule ^([a-zA-Z0-9]+)$ $1.php
RewriteRule ^([a-zA-Z0-9]+)/$ $1.php
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ $1/$2.php
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/$ $1/$2.php
#use [NC, L] if you want to strictly use the beautified urls