/* Body */
#table{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 2em auto;
	width: 1500px;
	max-width: 90%;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 -2px 4px 0 rgba(0,0,0,0.04);
	border-radius: 8px;
}
.table-row{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
}
.table-row:hover{
	background: #f9f9f9;
}
.table-head{
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	display: flex !important;
}
.table-row-name{
	flex: 1 0 auto;
	min-width: 200px;
}
.table-row-small{
	flex: 0 0 80px;
	min-width: 15%;
}
/* Body */

@media screen and (max-width: 900px){
	.one{
		display: none;
	}
}
@media screen and (max-width: 600px){
	.two{
		display: none;
	}
}