/* Body */
#main-body{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2%;
}
.profile{
	width: 200px;
	height: 200px;
	margin: 1%;
	max-width: 90%;
	background: #f7f7f7;
}
/* Body */